.item a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.item a:hover, a:focus {
    color: #efff0f;
}

.item a.activeLink {
    color: #efff0f;
}

.nav {
    grid-area: n;
    background-image: url(https://thumbs.dreamstime.com/b/green-repeating-diagonal-square-mosaic-pattern-background-vector-illustration-green-repeating-diagonal-square-mosaic-pattern-126509315.jpg);
    border-right: 5px solid #051697;
    background-color: blue;
    background-blend-mode: multiply;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 15px 5px;
}

