.content {
    grid-area: c;
    display: inherit;
    background-color: bisque;
}

.content .yourImage {
    min-height: 5em;
}

.content img {
    max-width: 30em;
    height: auto;
}

.item {
    color: #0096ff;
}

