
.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
}

.dialogsItems .active {
    color: #efff0f;
}

.dialogsItems a:hover, a:focus {
    color: #efff0f;
}

.dialog {

}

.message {

}